@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 270 10% 92%;

    --card: 0 0% 10%;
    --card-foreground: 270 10% 92%;

    --popover: 0 0% 10%;
    --popover-foreground: 270 10% 92%;

    --primary: 26 24% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 26 24% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 26 24% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 26 24% 51%;

    --radius: 0rem;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 270 10% 92%;
    --sidebar-primary: 26 24% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 270 10% 92%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 26 24% 51%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "PT Serif", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
  }
}
